AddDefaultCharset UTF-8

RewriteEngine on
RewriteCond $1 !^(index\.php|rss\.php|editor\.php|pars|cms_icons|photo|extensions|administrator|templates|uploads|news_img|favicon\.ico|robots\.txt)
RewriteRule ^(.*)$ /index.php?/$1 [L]