AddDefaultCharset UTF-8

RewriteEngine on
RewriteCond $1 !^(index\.php|rss\.php|editor\.php|pars|news_imgs|cms_icons|photo|extensions|administrator|templates|uploads|favicon\.ico|robots\.txt)
RewriteRule ^(.*)$ /index.php?/$1 [L]
