.idea/
.backup/
.usermin/
backup/
public_html/administrator/application/config/
public_html/application/config/
.backup.lock
.bash_logout
awstats/
cgi-bin/
fcgi-bin/
tmp/
astrobs.ru.tar.gz
.virtualmin-src
.stats-htpasswd
.profile
.bashrc
.awstats-htpasswd
etc/
astrobs.ru/
